<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Cursos</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombres</th>
              <th scope="col">Descripcion</th>
              <th scope="col">Duracion</th>
              <th scope="col">Costo</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cursos; index as i">
              <th scope="row">{{i}}</th>
              <td scope="row">{{item.nombre}}</td>
              <td scope="row">{{item.descripcion}}</td>
              <td scope="row">{{item.duracion}}</td>
              <td scope="row">{{item.costo}}</td>
              <td><button class="btn btn-primary" (click)="selectCurso(item,i)">Seleccionar</button></td>
              <td><button class="btn btn-danger text-white" (click)="deleteCurso(i)">Borrar</button></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <form [formGroup]="form" novalidate >
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="nombre" class="form-control" formControlName="nombre"
            [ngClass]="{'is-invalid': form.get('nombre')?.errors && form.get('nombre')?.touched, 'is-valid': form.get('nombre')?.valid}"/>
            <div *ngIf="form.get('nombre')?.errors && form.get('nombre')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('nombre')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('nombre')?.hasError('pattern')">Formato Invalido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion</label>
            <input type="text" name="descripcion" class="form-control" formControlName="descripcion"
            [ngClass]="{'is-invalid': form.get('descripcion')?.errors && form.get('descripcion')?.touched, 'is-valid': form.get('descripcion')?.valid}"/>
            <div *ngIf="form.get('descripcion')?.errors && form.get('descripcion')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('descripcion')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('descripcion')?.hasError('minlength')">Minimo 5 caracteres</p>
              <p *ngIf="form.get('descripcion')?.hasError('maxlength')">Maximo 50 caracteres</p>
            </div>
          </div>
          <div class="form-group">
            <label for="duracion">Duracion</label>
            <input type="number" name="duracion" class="form-control" formControlName="duracion"
            [ngClass]="{'is-invalid': form.get('duracion')?.errors && form.get('duracion')?.touched, 'is-valid': form.get('duracion')?.valid}"/>
            <div *ngIf="form.get('duracion')?.errors && form.get('duracion')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('duracion')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('duracion')?.hasError('min')">Minimo valor 1</p>
              <p *ngIf="form.get('duracion')?.hasError('max')">Maximo valor 500</p>
            </div>
          </div>
          <div class="form-group">
            <label for="costo">Costo</label>
            <input type="number" name="costo" class="form-control" formControlName="costo"
            [ngClass]="{'is-invalid': form.get('costo')?.errors && form.get('costo')?.touched, 'is-valid': form.get('costo')?.valid}"/>
            <div *ngIf="form.get('costo')?.errors && form.get('costo')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('costo')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('costo')?.hasError('min')">Minimo valor 1</p>
              <p *ngIf="form.get('costo')?.hasError('max')">Maximo valor 500</p>
            </div>
          </div>
          <br />
          <div class="row justify-content-end align-items-center g-3 text-center mb-3">
            <div class="col-sm-6 col-md-3  g-2">
              <button class="btn btn-success text-white" (click)="regiterCurso()" [disabled]="form.invalid" >Registrar</button>
              <button class="btn btn-warning text-white" (click)="modifyCurso()" [disabled]="form.invalid">Modificar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div #modals></div>
