<div class="container my-5">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Profesores</h4>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Edad</th>
              <th scope="col">Dirección</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of profesores; index as i">
              <th scope="row">{{i}}</th>
              <td scope="row">{{item.nombre}}</td>
              <td scope="row">{{item.apellidos}}</td>
              <td scope="row">{{item.edad}}</td>
              <td scope="row">{{item.direccion}}</td>
              <td><button class="btn btn-primary" (click)="selectProfe(item,i)">Seleccionar</button></td>
              <td><button class="btn btn-danger text-white" (click)="borrarProfe(i)">Borrar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <form [formGroup]="form" novalidate>
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" id="nombre" name="nombre" class="form-control" formControlName="nombre"
            [ngClass]="{'is-invalid': form.get('nombre')?.errors && form.get('nombre')?.touched, 'is-valid': form.get('nombre')?.valid}"  />
            <div *ngIf="form.get('nombre')?.errors && form.get('nombre')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('nombre')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('nombre')?.hasError('pattern')">Formato Invalido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" class="form-control" formControlName="apellidos"
            [ngClass]="{'is-invalid': form.get('apellidos')?.errors && form.get('apellidos')?.touched, 'is-valid': form.get('apellidos')?.valid}" />
            <div *ngIf="form.get('apellidos')?.errors && form.get('apellidos')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('apellidos')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('apellidos')?.hasError('pattern')">Formato Invalido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" id="edad" name="edad" class="form-control" formControlName="edad"
            [ngClass]="{'is-invalid': form.get('edad')?.errors && form.get('edad')?.touched, 'is-valid': form.get('edad')?.valid}"/>
            <div *ngIf="form.get('edad')?.errors && form.get('edad')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('edad')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('edad')?.hasError('min')">Edad minima: 18</p>
              <p *ngIf="form.get('edad')?.hasError('max')">Edad maxima: 70</p>
            </div>
          </div>
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" id="direccion" name="direccion" class="form-control" formControlName="direccion"
            [ngClass]="{'is-invalid': form.get('direccion')?.errors && form.get('direccion')?.touched, 'is-valid': form.get('direccion')?.valid}"/>
            <div *ngIf="form.get('direccion')?.errors && form.get('direccion')?.touched" class="invalid-feedback">
              <p *ngIf="form.get('direccion')?.hasError('required')">Campo Requerido</p>
              <p *ngIf="form.get('direccion')?.hasError('minlength')">Minimo 10 caracteres</p>
              <p *ngIf="form.get('direccion')?.hasError('maxlength')">Maximo 150 caracteres</p>
            </div>
          </div>
          <br />

          <div class="row justify-content-end align-items-center g-3 text-center mb-3">
            <div class="col-sm-6 col-md-3 g-2">
              <button class="btn btn-success text-white" (click)="registrarProfesor()" [disabled]="form.invalid" >Registrar</button>
              <button class="btn btn-warning text-white" (click)="modificarProfe()" [disabled]="form.invalid">Modificar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div #modals></div>
